* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div,
.dio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#content > * {
  margin-bottom: 30px;
}

div > h1 {
  max-width: 70ch;
  margin: 8px;
}

#content {
  padding-top: 6px;

  p {
    max-width: 340px;
  }
  h1 {
    text-align: center;
  }
}

.menu-header {
  margin: 8px;
}

header {
  margin: 0 auto;
  padding-top: 10px;

  & > nav {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
}

nav button {
  padding: 8px 16px;
}
